@import "tailwindcss";

@theme {
  --color-primary: #13363d;
  --color-gray-50: #b0b0b0;
  --color-gray-100: #f6f8f5;
  --color-gray-200: #f8f8f9;
  --color-light-gray: #ebedf0;
  --color-dark-gray: #515151;
  --color-green-200: #edf1eb;
  --color-green-300: #272f23;
  --color-green-400: #495843;
  --color-green-500: #6b8262;
  --color-green-600: #7f9b75;
  --color-green-700: #7ac35f;
  --color-green-800: #2e382a;
  --color-red-500: #e10004;
  --color-brown-100: #5c3600;
  --color-brown-200: #ad6500;
  --color-cream: #fff3e1;
  --color-orange: #ff9500;
  --shadow-header: 0px 4px 4px -4px rgba(12, 12, 13, 0.05),
    0px 16px 16px -8px rgba(12, 12, 13, 0.1);
  --shadow-dropdown: 0px 0px 24px -8px rgba(12, 12, 13, 0.2);
  --shadow-card: 0px 16px 15.8px 0px rgba(0, 0, 0, 0.1);
}

@utility container {
  @apply max-w-[1720px] px-5 mx-auto;
}

body {
  font-family: Inter, sans-serif;
  @apply bg-gray-100;
}

.plan-card-gradient {
  background: linear-gradient(
    114.38deg,
    #edf2f2 21.78%,
    #f7f3f2 42.17%,
    #f7edeb 67.35%,
    #f8ecf1 99.32%
  );
}
